<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="tableFragment">
    <table>
        <thead>
            <tr>
                <th>Mã loại</th>
                <th>Tên loại</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td>
                    <a th:href="@{|/category/edit/${item.id}|}">Sửa</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
